.container
  .row
    .col-md-3
    .col-md-8
      .row
        .col-md-4
        .col-md-4
          %h1 Log in
      .row
        %form
          .form-group
            %label Email Address
            %input(type='email' class='form-control' id='email')
          .form-group
            %label Password
            %input(type='password' class='form-control' id='password')
      .row
        .col-md-4
        .col-md-4
          %button.btn.btn-primary#submit_btn Log in
